name: Build and Cache on Push

on:
  push:
    branches:
      - main
      - release-**
  pull_request:

permissions:
  contents: read

jobs:
  build-and-cache:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v15
      with:
        name: autofirma-nix
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build --json .#autofirma .#configuradorfnmt .#dnieremote
    - run: nix flake check
    - if: github.event_name == 'push'
      run: nix build --json .#autofirma .#configuradorfnmt .#dnieremote | jq -r '.[].outputs | to_entries[].value' | cachix push autofirma-nix
